body {
    background-color: lightblue;
}

h1 {
    color: red;
    margin-left: 20 px;
}

ul {
    list-style-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR62rs0nB73efhxkT46wZLUtZCFoOXr-Xv5c3eN5WetLpRkTwfp");
}